<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form style="text-align: center" action="register" method="post"> 
    {% csrf_token %}
            Username:<input type="text" name="usrname"><br>
            Password:<input type="password" name="pass"><br>
            Confirm: <input type="password" name="cpass"><br>
            Email: <input type="email" name="mailId"><br>
            <input type="submit">
    </form>
</body>
</html>